.cards ul {
  list-style: none;
  margin: 0 0 35px 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 30px;
  row-gap: 36px;
}

.cards__item {
  max-width: 270px;
}

.cards__item a {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.cards__link:hover h3,
.cards__link:hover span {
  opacity: 0.7;
}

.cards__link:active h3,
.cards__link:active span {
  opacity: 0.4;
}

.cards__item h3 {
  font-size: 16px;
  line-height: 130%;
  font-weight: 500;
  color: $black;
  max-width: 194px;
  margin: 22px auto 6px auto;
  overflow-wrap: break-word;
  text-align: center;
}

.cards__item span {
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  color: $black;
  max-width: 44px;
  overflow-wrap: break-word;
  margin-left: 5px;
  text-align: center;
}

.cards__pagination {
  margin-right: 15px;
  color: $footer-mailing-grey;
  line-height: 130%;
  font-size: 16px;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    color: black;
  }
}

.cards__pagination button {
  border: none;
  padding: 0;
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  background-color: transparent;
}

.cards__image {
  background-color: $cards-background-grey;
  height: 272px;
  width: 100%;
}

.cards__item img,
.cards__item picture {
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

@media (max-width: $tablet-width) {
  .cards ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .cards__image {
    height: 208px;
  }

  .cards__item img {
    height: 208px;
  }

  .cards__item picture {
    height: 208px;
  }
}

@media (max-width: $mobile-width) {
  .cards ul {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
  }

  .cards__item {
    max-width: none;
  }

  .cards__image {
    height: 100%;
    max-height: 272px;
  }

  .cards__item img,
  .cards__item picture {
    height: auto;
    max-height: 272px;
  }

  @media (max-width: 320px) {
    .cards__item img {
      height: 136px;
    }

    .cards__item picture {
      height: 136px;
    }
  }

  .cards__item h3 {
    margin-top: 18px;
  }
}
