.filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter__tab {
  border-bottom: 1px solid $header-background-brown;
  border-right: 1px solid $header-background-brown;
  border-left: 1px solid $header-background-brown;
  box-sizing: border-box;

  &:first-child {
    border-top: 1px solid $header-background-brown;
  }
}

.filter__list {
  margin-bottom: 35px;
  max-width: 250px;
}

.filter__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.filter__tab button {
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  line-height: 130%;
  color: $black;
  background-color: $white;
  border: none;
  padding: 24px 45px 22px 24px;
  text-align: left;
  position: relative;
  overflow-wrap: break-word;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }

  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 24px;
    right: 26px;
    border-top: 1px solid $header-background-brown;
    border-right: 1px solid $header-background-brown;
    transform: rotate(135deg);
  }
}

.filter__tab--show button {
  padding-bottom: 23px;

  &::after {
    transform: rotate(-45deg);
    top: 31px;
  }
}

.filter__tab ul {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 34px 28px 34px;
}

.filter__tab--show ul {
  display: flex;
}

.filter__item {
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;

  &:last-child {
    margin-bottom: 0;
  }
}

.filter__item label {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: $black;
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  overflow-wrap: break-word;
  max-width: 98px;
  text-align: start;

  &::before {
    content: "";
    position: absolute;
    width: 15px;
    left: 0;
    top: 2px;
    height: 15px;
    box-sizing: border-box;
    border: 1px solid $header-background-brown;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

input:checked + label::before {
  background-color: $header-background-brown;
}

input:focus + label {
  outline: 1px auto $black;
}

.filter__submit,
.filter__clear,
.filter__button {
  background-color: $header-background-brown;
  color: $white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  font-weight: 500;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 130%;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

.filter__button {
  display: none;
}

.filter__tab--show .filter__range-controls {
  display: block;
}

.filter__clear {
  color: $black;
  background-color: $white;
  border: 1px solid $header-background-brown;
  padding: 23px;
}

.filter__range-controls {
  padding: 3px 25px 49px 25px;
  position: relative;
  display: none;
}

.filter__scale {
  height: 1px;
  background-color: $article-background-brown;
}

.filter__bar {
  height: 1px;
  background-color: $header-background-brown;
  width: 50%;
  margin: 0 25%;
}

.filter__range-toggle {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: $header-background-brown;
  border-radius: 50%;
  cursor: pointer;
  top: -4px;

  &--min {
    left: 28%;
  }

  &--max {
    left: 70%;
  }

  &:hover {
    background-color: $header-background-brown-70;
  }

  &:active {
    background-color: $header-background-brown-40;
  }
}

.filter__range-toggle:hover span,
.filter__range-toggle:active span {
  opacity: 1;
}

.filter__range-toggle span {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: $black;
  position: absolute;
  bottom: -24px;
  left: -8px;
  min-width: 34px;
  overflow-wrap: break-word;
  pointer-events: none;
}

.filter__close {
  display: none;
}

@media (max-width: $tablet-width) {
  .filter__form {
    position: relative;
    display: none;
    width: 442px;
    background-color: $white;
    box-shadow: 0 5px 32px $form-shadow-black;
    min-height: 609px;
    margin: 17px 0;
    z-index: 5;
  }

  .filter__button {
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }

  .filter__submit,
  .filter__clear {
    margin-left: 40px;
    margin-right: 40px;
  }

  .filter__clear {
    margin-bottom: 40px;
  }

  .filter__tab {
    border: none;
    border-bottom: 1px solid $header-background-brown;

    &:first-child {
      border-top: none;
    }
  }

  .filter__list {
    max-width: none;
    margin-bottom: 40px;
  }

  .filter__item label {
    font-size: 16px;
    max-width: 282px;
    padding-left: 30px;

    &::before {
      width: 18px;
      height: 18px;
      top: 0;
    }
  }

  .filter__tab button {
    padding: 34px 40px;
    font-size: 18px;

    &::after {
      width: 16px;
      height: 16px;
      top: 32px;
      right: 43px;
    }
  }

  .filter__tab ul {
    padding: 8px 50px 37px 50px;
  }

  .filter__tab--show button {
    padding-bottom: 17px;

    &::after {
      top: 43px;
    }
  }

  .filter__item {
    margin-bottom: 18px;
  }

  .filter__range-controls {
    max-width: 304px;
    padding: 17px 50px 69px 50px;
  }

  .filter__scale {
    position: relative;
    top: -1px;
  }

  .filter__range-toggle {
    width: 18px;
    height: 18px;
    top: 8px;

    &--min {
      left: 23.5%;
    }

    &--max {
      left: 67%;
    }
  }

  .filter__range-toggle span {
    font-size: 16px;
    min-width: 39px;
    bottom: -27px;
    left: -9px;
  }

  .filter__close {
    display: inline-block;
    position: absolute;
    width: 32px;
    height: 32px;
    border: none;
    padding: 0;
    background-color: $black;
    border-radius: 50%;
    right: -16px;
    top: -16px;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.4;
    }

    &::before {
      content: "";
      position: absolute;
      width: 17px;
      height: 1px;
      border-bottom: 2px solid $white;
      transform: rotate(135deg);
      left: 8px;
      top: 15px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 17px;
      height: 1px;
      border-bottom: 2px solid $white;
      transform: rotate(45deg);
      left: 8px;
      top: 14px;
    }
  }
}

@media (max-width: $mobile-width) {
  .filter__button {
    margin-bottom: 40px;
  }

  .filter__form {
    width: 270px;
    min-height: 504px;
    margin-left: auto;
    margin-right: auto;
  }

  .filter__tab button {
    padding: 24px 20px;

    &::after {
      width: 13px;
      height: 13px;
      top: 24px;
      right: 23px;
    }
  }

  .filter__tab ul {
    padding: 1px 30px 27px;
  }

  .filter__tab--show button::after {
    top: 33px;
  }

  .filter__clear,
  .filter__submit {
    margin-left: 20px;
    margin-right: 20px;
  }

  .filter__submit {
    margin-bottom: 20px;
  }

  .filter__list,
  .filter__clear {
    margin-bottom: 30px;
  }

  .filter__close {
    right: -10px;
  }

  .filter__range-controls {
    max-width: none;
    width: 250px;
    padding: 10px 10px 59px;
  }

  .filter__range-toggle {
    top: 1px;

    &--min {
      left: 18.5%;
    }

    &--max {
      left: 69.5%;
    }
  }
}
