.spreading__wrapper {
  max-width: 1170px;
  margin: 0 auto;

  @media (max-width: 1209px) {
    .spreading__wrapper {
      margin: 0 20px;
    }
  }
}

.spreading h1 {
  margin: 0 0 30px 0;
  font-weight: 700;
  font-family: "Cormorant Garamond", "Arial", sans-serif;
  color: $black;
  font-size: 45px;
  line-height: 130%;
  letter-spacing: 0.03em;
  overflow-wrap: break-word;
  text-align: center;
}

.spreading ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.spreading li {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.spreading a {
  font-size: 16px;
  line-height: 130%;
  max-width: 933px;
  align-self: center;
  color: $black;
  text-decoration: none;
  border-bottom: 1px solid $header-background-brown;
  text-align: center;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}
