$white: #ffffff;
$input-placeholder-grey: #9b9997;
$black: #1d1613;
$classic-black: #000000;
$border-top-links-grey: #f6f5f4;
$white-15: rgba(255, 255, 255, 0.15);
$white-75: rgba(255, 255, 255, 0.75);
$header-background-brown: #a87b62;
$footer-mailing-grey: #9b9997;

$mobile-width: 767px;
$tablet-width: 1023px;
